<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(api|logistic-objects)(/.*)?$ index.php [L,QSA]

# 3. Все остальные запросы перенаправляем на index.html.
RewriteRule ^ index.html [L]


